body {
	font-family: 'Oswald', sans-serif;
}

div img {
	height: 500px;
	width: 100%;
	opacity: .30;
}

#headline { 
   position: absolute; 
   letter-spacing: -2px;
   line-height: 125%;
   top: 50px; 
   left: 20px; 
   width: 100%; 
   font-size: 7em;
   color: black;
}

#bottom {
	padding: 30px 20px;
	font-size: 1.5em;
	letter-spacing: -1px;
	line-height: 100%;
	background-color: #314D54;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	border: solid white 10px;
}


